.login-block__container.social
    form.login-block__form.social__github(action=routes.ghLogin, method="get")
        button.social__github-button
            span
                i.fab.fa-github
            span &nbsp&nbsp
            span Continue with 
            span.social__github-typeface Github
    
    form.login-block__form.social__facebook(action=routes.fbLogin, method="get")
        button.social__facebook-button
            span
                i.fab.fa-facebook
            span &nbsp&nbsp
            span Continue with 
            span.social__facebook-typeface Facebook