.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 180px;

  form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    input {
      height: 60px;

      text-align: center;
      border: 1px solid $lineColor;

      &::placeholder {
        @extend h1;
        color: $grayText;
      }
      &:valid {
        border-color: $mainText;
        color: $mainText;
      }
    }
  }
}
