.header {
  //   height: 120px;
  position: fixed;
  top: 0px;

  height: $heightHF;

  width: 100%;
  background-color: $bgColor;
  display: grid;

  grid-template-columns: $marginLR max-content 1fr max-content $marginLR;
  grid-template-rows: $heightHF;
  align-items: center;

  border-bottom: solid 1px $lineColor;
  z-index: 1;

  .header__icon {
    grid-column: 2;
    margin-right: 5px;
  }
  .header__search-bar {
    grid-column: 3;
    display: flex;
    justify-content: center;
    input {
      border-left: none;
      border-right: none;
      text-align: center;
      border-bottom: 1px solid $lineColor;
      height: 60px;
      &::placeholder {
        @extend h1;
        color: $grayText;
      }
      &:focus {
        border-color: $mainText;
      }
      &:valid {
        border-color: $mainText;
        color: $mainText;
      }
    }
  }
  .header__user-navigator {
    grid-column: 4;
    text-transform: uppercase;
  }
}
