.simple-input {
  height: 60px;

  text-align: center;
  border: 1px solid $lineColor;
  transition: $mainTransition;

  &::placeholder {
    @extend h1;
    color: $grayText;
  }
  &:valid {
    border-color: $mainText;
    color: $mainText;
  }
}
.simple-textarea {
  @extend.simple-input;
  height: 180px;
}
