.videoPlayer {
  position: relative;
  .videoPlayer__controls {
    position: absolute;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: min-content max-content 1fr min-content min-content;
    grid-template-rows: 50px;

    align-content: end;
    align-items: center;
    justify-items: center;
    z-index: 1;

    background-image: linear-gradient(
      to top,
      $bgColorAlpha1 5%,
      $bgColorAlpha0
    );

    opacity: 0;
    transition: $mainTransition;
    &:hover {
      opacity: 1;
    }

    .material-icons {
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $mainText;
    }

    .videoPlayer__time {
      @extend h4;
      padding-left: 15px;
      padding-right: 15px;
    }
    .videoPlayer__timeLine {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      align-items: center;

      // input[type="range"] {
      //   width: 100%;

      //   &::track {
      //     background: $lineColor;
      //     height: 3px;
      //     border-radius: 3px;
      //   }
      //   &::thumb {
      //     background: $mainText;
      //     width: 9px;
      //     height: 9px;
      //     margin-top: -3px;
      //     border-radius: 9px;
      //   }
      //   &:hover {
      //     cursor: pointer;
      //   }
      // }
    }
  }
  .videoPlayer__video {
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
    video {
      position: absolute;
    }
  }
}
