.videoComments {
  border: 1px solid $lineColor;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  transition: $mainTransition;
  &:hover {
    box-shadow: 0px 0px 10px $lineColor;
  }
  // background-color: black;
  .videoComments__header {
    width: 100%;
    box-shadow: 0px 1px 0px $lineColor;
    padding: 15px;
    @extend h1;
    color: $lineColor;
    text-transform: uppercase;
    z-index: 1;
  }
  .videoComments__commentList {
    background-color: mix($bgColor, black, 93%);
    overflow-y: scroll;
    @include scrollbars(3px, $lineColor, $bgColor);
    padding: 15px;
    padding-right: 12px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    li {
      display: grid;
      grid-template-columns: min-content 1fr min-content;
      grid-template-rows: min-content;
      grid-gap: 15px;
      //   justify-content: space-between;
      align-items: flex-start;
      .avatar {
        width: 32px;
        // height: 100%;
      }
      .videoComments__content {
        line-height: 1.5em;
        margin-top: -0.3em;
        margin-bottom: -0.5em;
        font-size: 13px;
        @extend h5;
        word-break: break-word;

        .videoComments__creator {
          color: mix($lineColor, $mainText, 95%);
          white-space: nowrap;
        }
        .videoComments__text {
          color: mix($lineColor, $mainText, 65%);
        }
      }
      button {
        color: $lineColor;
        margin-top: -1px;
      }
    }
  }
  .videoComments__footer {
    padding: 15px;
    background-color: $bgColor;
    box-shadow: 0px -1px 0px $lineColor;
    z-index: 1;

    textArea {
      margin-bottom: 15px;
      border-bottom: 1px solid $lineColor;
      height: 30px;

      @extend h5;
      font-size: 13px;
      line-height: 1.5em;

      color: mix($lineColor, $mainText, 65%);
      &::placeholder {
        @extend h5;
        color: $lineColor;
      }
      &:focus {
        border-bottom: 1px solid $mainText;
      }
    }
  }
}
