.videoBlock {
  border: solid 1px $lineColor;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: $mainTransition;

  &:hover {
    box-shadow: 0px 0px 10px $lineColor;
  }

  .videoBlock__thumbnail {
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
    video {
      position: absolute;
    }
  }

  .videoBlock__info {
    display: flex;
    flex-direction: column;

    padding: 10px;
    padding-top: 8px;

    border-top: 1px solid $lineColor;
    & > *:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
