mixin videoPlayer(video = {})
    .videoPlayer
        .videoPlayer__controls
            button.videoPlayer__play
                span.material-icons play_arrow
            .videoPlayer__time
                h4 00:00
            .videoPlayer__timeLine
                input(type="range", min="1", max="100")
            button.videoPlayer__volume
                span.material-icons volume_up
            button.videoPlayer__full-screen
                span.material-icons fullscreen
        .videoPlayer__video
            video(src=`/${video.fileUrl}`)
