mixin videoPlayer(video = {})
    .videoPlayer
        .videoPlayer__video
            video(src=`/${video.fileUrl}`)
        .videoPlayer__controls
            .videoPlayer__buttons
                button.videoPlayer__play
                    span.material-icons play_arrow
                button.videoPlayer__volume
                    span.material-icons volume_up
                button.videoPlayer__full-screen
                    span.material-icons fullscreen
            .videoPlayer__timeLine
