mixin videoBlock(video = {})
    a(href=routes.videoDetail({fullRoute: true, id: video.id})).videoBlock
        .videoBlock__thumbnail
            video(src=`/${video.fileUrl}`)
        .videoBlock__info
            h4.videoBlock__info__title=video.title
            h5.videoBlock__info__views #{video.views} views
        //-  See Detail
        