mixin videoPlayer(video = {})
    .videoPlayer#jsVideoPlayer
        .videoPlayer__controls#jsVideoControl
            button.videoPlayer__play#jsPlayBtn
                span.material-icons play_arrow
            .videoPlayer__time  
                span#jsCurrentTime
                span  / 
                span#jsTotalTime
            .videoPlayer__timeLine
                input#jsTimeLine(type="range", min="0", max="100", value="0")
            button.videoPlayer__volume#jsVolumeBtn
                span.material-icons volume_up
            button.videoPlayer__full-screen#jsFullScreenBtn
                span.material-icons fullscreen
        .videoPlayer__video#jsVideoContainer
            if (video.fileUrl)
                video(src=`${video.fileUrl}`)
            else
                video
