extends layouts/main.pug

block content
    .login-block
        form.login-block__form(action=routes.changePassword({fullRoute: true, id: currentUser.id}), method="post")
            input.simple-input(type="password", name="oldPassword", placeHolder="Current Password")
            input.simple-input(type="password", name="newPassword1", placeHolder="New Password")
            input.simple-input(type="password", name="newPassword2", placeHolder="Verify New Password")
            input.simple-input(type="submit", value="Change Password")