extends layouts/main.pug

block content
    .form-container
        form(action=routes.editVideo({fullRoute: true, id: video.id}), method="post")
            input(type="text", placeHolder="title", name="title", value=video.title)
            textarea(placeHolder="description", name="description")=video.description
            input(type="submit", value="Update Video")
    a.form-container__link-delete(href=routes.deleteVideo({fullRoute: true, id: video.id})) Delete Video
    //-should change href