extends layouts/main.pug

block content
    .login-block
        form.login-block__form(action=routes.login, method="post")
            input.simple-input(type="email", name="email", placeholder="Email", required=true)
            input.simple-input(type="password", name="password", placeholder="Password", required=true)
            input.simple-input(type="submit", value="Log In")
        include partials/socialLogin