extends layouts/main.pug

block content
    .upload#jsUpload
        .video__wrapper
            .video
                video#jsVideo
        //- .videoPlayer
        //-     .videoPlayer__controls
        //-         button.videoPlayer__play#jsPlayBtn
        //-             span.material-icons play_arrow
        //-         .videoPlayer__time  
        //-             span#jsCurrentTime
        //-             span  / 
        //-             span#jsTotalTime
        //-         .videoPlayer__timeLine
        //-             input#jsTimeLine(type="range", min="0", max="100", value="0")
        //-         button.videoPlayer__volume#jsVolumeBtn
        //-             span.material-icons volume_up
        //-         button.videoPlayer__full-screen#jsFullScreenBtn
        //-             span.material-icons fullscreen
            //- label(for="file") Video File
        form.upload__form(action=routes.upload({fullRoute: true}), method="post", enctype="multipart/form-data")
            input.simple-input(type="file", id="file", name="videoFile", required=true, accept="video/*")
            input.simple-input(type="text", placeHolder="Title", name="title", required=true)
            textarea.simple-textarea(placeHolder="Descrition", name="description", required=true)
            input.simple-input(type="submit", value="Upload Video")
        
