extends layouts/main.pug
include mixins/videoPlayer
include mixins/videoComments
include mixins/avatar

block content
    .videoDetail#jsVideoDetail
        .videoDetail__wrapper#jsVideoDetailWrapper
            +videoPlayer(video)
            .videoDetail__info
                .videoDetail__info-left
                    +avatar(video.creator)
                    .videoDetail__head
                        h4.videoDetail__title=video.title
                        h5.videoDetail__creator
                            span #{video.creator.name}
                .videoDetail__info-right
                    h5 
                        span#jsViewNum #{video.views}
                        span &nbspviews
                        span &nbsp·&nbsp
                        span 2020-10-20
                //- p.videoDetail__description=video.description
                if (isCreator)
                    a.videoDetail__edit-button(href=routes.editVideo({fullRoute: true, id: video.id})) edit video
        +videoComments(video.comments)
            