$bgColor: rgb(45, 54, 52);
$bgColorAlpha: rgb(45, 54, 52, 0.9);
$bgColorAlpha0: rgb(45, 54, 52, 0);
$bgColorAlpha1: rgb(45, 54, 52, 1);
$lineColor: rgb(70, 90, 85);
$grayText: rgb(70, 90, 85);
$mainText: rgb(122, 255, 222);
$alertText: rgb(223, 85, 131);

$marginLR: 60px;
$marginTB: 60px;
$heightHF: 60px;

$mainTransition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
