extends layouts/main.pug

block content
    .form-container
        form(action=routes.changePassword({fullRoute: true, id: user.id}), method="post")
            input(type="password", name="oldPassword", placeHolder="Current Password")
            input(type="password", name="newPassword", placeHolder="New Password")
            input(type="password", name="newPassword1", placeHolder="Verify New Password")
            input(type="submit", value="Change Password")