extends layouts/main.pug

block content
    form(action=routes.upload({fullRoute: true}), method="post")
        label(for="file") Video File
        input(type="file", id="file", name="file", required=true, accept="video/*")
        input(type="text", placeHolder="Title", name="title", required=true)
        textarea(placeHolder="Descrition", name="description", required=true)
        input(type="submit", value="Update Video")
